:root {
    --primary-color: #7261fb;
    --secondary-color: #25D366;
    --facebook-color: #4267B2;
    --text-color: #fff;
    --button-padding: 1rem 2rem;
    --font-size-large: 1.125rem; /* 18px */
    --font-size-medium: 1rem; /* 16px */
    --font-size-small: 0.875rem; /* 14px */
    --button-radius: 0.3125rem; /* 5px */
  }  